.section {
  display: flex;
  justify-content: center;
}

.section-container {
  max-width: 1024px;
  width: 100%;
}

.hero-2col-section,
footer {
  background-color: #271d1c;
}

.hero-2col-section h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

.hero-2col-section p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-2col-section .content {
  display: flex;
  gap: 50px;
  margin: 100px 0;
}

.hero-2col-section .content div {
  flex: 1;
}

.hero-2col-section .content img {
  height: auto;
  max-width: 100%;
}

.info-features-section,
.quote-section,
.cta-section {
  padding: 75px 0;
}

.info-features-section {
  padding: 0;
}

.info-features-section .section-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.info-features-section .section-container .features-wrapper {
  display: flex;
  gap: 20px;
  text-align: center;
}

.info-features-section .section-container .features-wrapper img {
  height: auto;
  width: 100px;
}

.icon-attribute {
  font-size: 0.8em;
  margin-top: 75px;
  margin-bottom: 15px;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-section .content {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  display: flex;
  flex-flow: column;
  padding: 0 90px;
}

.quote-section .content .quote-author {
  font-weight: 700;
  text-align: right;
}

.cta-wrapper .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 90px;
  color: #f9faf8;
}

.cta-wrapper .content button {
  border: solid 1.5px #f9faf8;
}

body,
header,
header ul,
footer {
  display: flex;
}

body {
  flex-flow: column;
  margin: 0;
  padding: 0;
}

body h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin: 40px 0;
}
body h3 {
  margin: 0;
  font-size: 28px;
}
body p {
  margin: 15px 0;
}

body ul {
  list-style-type: none;
}

body a {
  text-decoration: none;
}

header {
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

header ul {
  gap: 20px;
}

header a {
  color: #f9faf8;
}

button,
.cta-wrapper {
  background-color: #be3846;
  border-radius: 8px;
}

button {
  border-style: none;
  color: white;
  font-size: 18px;
  padding: 6px 30px;
  cursor: pointer;
}

footer {
  justify-content: center;
  color: #f9faf8;
  padding: 30px 0;
}
